.secao2 {
  height: 100vh;
  position: relative;
  width: 1800px;
  margin: 0 auto;
  padding-top: 5rem;
}

.secao2__containerApresentacao {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao2__titulo {
  font-size: 2.75rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 3.3256rem;
}

.secao2__apresentacao {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.87rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1.5rem;
}

.secao2__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4.0962rem;
}
.secao2__redes {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  padding-top: 1rem;
}

.secao2__imagens {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 581px);
  align-items: flex-end;
  padding-bottom: .5rem;
}
